<?xml version="1.0"?>
<ruleset>
    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg value="ps"/>
    <arg name="cache" value=".phpcs.cache"/>

    <file>src</file>
    <file>tests</file>

    <rule ref="PSR12">
        <exclude name="PSR12.Properties.ConstantVisibility.NotFound"/>
    </rule>

    <rule ref="PSR1.Classes.ClassDeclaration.MultipleClasses">
        <exclude-pattern>tests/*</exclude-pattern>
    </rule>

    <rule ref="PSR1.Methods.CamelCapsMethodName.NotCamelCaps">
        <exclude-pattern>src/PhpBrew/Utils.php</exclude-pattern>
    </rule>
</ruleset>
