<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         colors="true"
         verbose="true"
>

    <php>
      <ini name="safe_mode_allowed_env_var" value="PHP_,PHPBREW"/>
      <env name="PHPBREW_ROOT" value=".phpbrew"/>
      <env name="PHPBREW_HOME" value=".phpbrew"/>
      <env name="PHPBREW_BIN" value=".phpbrew/bin"/>
      <env name="PHPBREW_EXTENSION_DIR" value="tests/fixtures/ext"/>
      <env name="PHPBREW_FIXTURES_PHP_DIR" value="tests/fixtures/php"/>
      <env name="PHPBREW_EXPECTED_PHP_DIR" value="tests/expected/php"/>
      <env name="PHPBREW_BUILD_PHP_DIR" value="tests/build"/>
    </php>

    <testsuites>
        <testsuite name="PHPBrew">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
      <whitelist>
        <directory>src</directory>
        <exclude>
          <directory suffix=".php">src/PhpBrew/Topic</directory>
        </exclude>
      </whitelist>
    </filter>

</phpunit>
