<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         colors="true"
         verbose="true">

    <php>
        <env name="PHPBREW_ROOT" value=".phpbrew"/>
        <env name="PHPBREW_HOME" value=".phpbrew"/>
        <env name="PHPBREW_EXTENSION_DIR" value="tests/fixtures/ext"/>
        <env name="PHPBREW_FIXTURES_PHP_DIR" value="tests/fixtures/php"/>
        <env name="PHPBREW_EXPECTED_PHP_DIR" value="tests/expected/php"/>
    </php>

    <testsuites>
        <testsuite name="All">
            <file>tests/PhpBrew/Command/KnownCommandTest.php</file>
            <file>tests/PhpBrew/Command/InstallCommandTest.php</file>
            <directory suffix="Test.php">tests</directory>
        </testsuite>

        <testsuite name="Core">
            <file>tests/PhpBrew/BuildTest.php</file>
            <file>tests/PhpBrew/UtilsTest.php</file>
            <file>tests/PhpBrew/VariantBuilderTest.php</file>
            <file>tests/PhpBrew/VariantParserTest.php</file>
            <file>tests/PhpBrew/VersionTest.php</file>
            <file>tests/PhpBrew/ConfigTest.php</file>
        </testsuite>

        <testsuite name="Commands">
            <directory suffix="Test.php">tests/PhpBrew/Command</directory>
        </testsuite>

        <testsuite name="Extension">
            <directory suffix="Test.php">tests/PhpBrew/Extension</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="tap" target="build/logs/report.tap" />
        <log type="junit" target="build/logs/report.junit.xml" />
        <log type="coverage-html" target="build/logs/coverage" charset="UTF-8" yui="true" highlight="true" />
        <log type="coverage-text" target="build/logs/coverage.txt" />
        <log type="coverage-clover" target="build/logs/clover.xml" />
    </logging>

</phpunit>
