<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         stopOnFailure="true"
         stopOnError="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         convertErrorsToExceptions="true"
         colors="true"
         verbose="true">

    <php>
        <env name="PHPBREW_ROOT" value=".phpbrew"/>
        <env name="PHPBREW_HOME" value=".phpbrew"/>
        <env name="PHPBREW_EXTENSION_DIR" value="tests/fixtures/ext"/>
        <env name="PHPBREW_FIXTURES_PHP_DIR" value="tests/fixtures/php"/>
        <env name="PHPBREW_EXPECTED_PHP_DIR" value="tests/expected/php"/>
    </php>

    <testsuites>
        <testsuite name="All">
            <!-- run install command tests before all tests -->
            <file>tests/PhpBrew/Command/KnownCommandTest.php</file>
            <file>tests/PhpBrew/Command/InstallCommandTest.php</file>
            <directory suffix="Test.php">tests</directory>
        </testsuite>

        <testsuite name="Core">
          <file>tests/PhpBrew/BuildRegisterTest.php</file>
          <file>tests/PhpBrew/BuildTest.php</file>
          <file>tests/PhpBrew/CommandBuilderTest.php</file>
          <file>tests/PhpBrew/ConfigTest.php</file>
          <file>tests/PhpBrew/MachineTest.php</file>
          <file>tests/PhpBrew/PatchUtilsTest.php</file>
          <file>tests/PhpBrew/ReleaseListTest.php</file>
          <file>tests/PhpBrew/UtilsTest.php</file>
          <file>tests/PhpBrew/VariantBuilderTest.php</file>
          <file>tests/PhpBrew/VariantParserTest.php</file>
          <file>tests/PhpBrew/VersionDslParserTest.php</file>
          <file>tests/PhpBrew/VersionTest.php</file>
        </testsuite>

        <testsuite name="Command">
            <directory suffix="Test.php">tests/PhpBrew/Command</directory>
        </testsuite>

        <testsuite name="Extension">
            <directory suffix="Test.php">tests/PhpBrew/Extension</directory>
        </testsuite>

    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>

    <logging>

        <log type="tap" target="build/logs/report.tap" />

        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>

        <log type="coverage-html" 
            target="build/coverage" 
            charset="UTF-8" 
            yui="true" 
            highlight="true"
            lowUpperBound="35" 
            highLowerBound="70"/>

        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-clover" target="build/logs/clover.xml" />
        <log type="coverage-crap4j" target="build/logs/crap4j.xml"/>
    </logging>

</phpunit>
