*.lo
*.la
missing
mkinstalldirs
Makefile
Makefile.*
configure
configure.in
config.status
config.sub
config.nice
config.log
config.guess
config.h.*
config.h
acinclude.m4
aclocal.m4
autom4te.cache
build
install-sh
run-tests.php
.deps
libtool
ltmain.sh
.gdbinit
/vendor/
.libs/
modules/
